# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [4]:
import numpy as np
import pandas as pd
import os

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
import pandas_datareader.data as web

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [7]:
begin = dt.date(2015, 1, 1)
today = dt.date(2022, 1, 10)
os.environ['ALPHAVANTAGE_API_KEY'] = 'JNREZWSI62TF8ND3'

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [8]:
df_apple = web.DataReader("AAPL", "av-daily", start=begin, end=today, api_key=os.getenv('ALPHAVANTAGE_API_KEY'))

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [9]:
df_apple['stock'] = "AAPL"

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [12]:
df_tesla = web.DataReader("TSLA", "av-daily", start=begin, end=today, api_key=os.getenv('ALPHAVANTAGE_API_KEY'))
df_ibm = web.DataReader("IBM", "av-daily", start=begin, end=today, api_key=os.getenv('ALPHAVANTAGE_API_KEY'))
df_msft = web.DataReader("MSFT", "av-daily", start=begin, end=today, api_key=os.getenv('ALPHAVANTAGE_API_KEY'))

RemoteDataError:  Their was an issue from the data vendor side, here is their response: {'Note': 'Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency.'}

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [14]:
df_tesla['stock'] = 'TSLA'
df_ibm['stock'] = 'IBM'
df_msft['stock'] = 'MSFT'

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [89]:
df = pd.concat([df_apple, df_tesla, df_ibm, df_msft])
df.index = pd.to_datetime(df.index)
df.set_index([df.index, 'stock'], inplace=True)
df

                    open    high      low   close    volume
           stock
2015-01-02 AAPL   111.39  111.44  107.350  109.33  53204626
2015-01-05 AAPL   108.29  108.65  105.410  106.25  64285491
2015-01-06 AAPL   106.54  107.43  104.630  106.26  65797116
2015-01-07 AAPL   107.20  108.20  106.695  107.75  40105934
2015-01-08 AAPL   109.23  112.15  108.700  111.89  59364547
...                  ...     ...      ...     ...       ...
2022-01-04 MSFT   334.83  335.20  326.120  329.01  32674306
2022-01-05 MSFT   325.86  326.07  315.980  316.38  40054327
2022-01-06 MSFT   313.15  318.70  311.490  313.88  39646148
2022-01-07 MSFT   314.15  316.50  310.090  314.04  32720018
2022-01-10 MSFT   309.49  314.72  304.690  314.27  44164233

[7076 rows x 5 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

In [160]:
vol = pd.DataFrame(df['volume'])
vol.reset_index(1,inplace=True)

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [163]:
vol.columns
vol_apple = vol[vol['stock'] == 'AAPL']
vol_apple
# vol.groupby(pd.Grouper(key='level_0', freq='W')).agg({'AAPL':'sum'})
# weeks = [g for n, g in vol.groupby(pd.Grouper(key='level_0',freq='W'))]
# months = [g for n, g in vol.groupby(pd.Grouper(key='level_0',freq='M'))]

           stock     volume
2015-01-02  AAPL   53204626
2015-01-05  AAPL   64285491
2015-01-06  AAPL   65797116
2015-01-07  AAPL   40105934
2015-01-08  AAPL   59364547
...          ...        ...
2022-01-04  AAPL   99310438
2022-01-05  AAPL   94537602
2022-01-06  AAPL   96903955
2022-01-07  AAPL   86709147
2022-01-10  AAPL  104484131

[1769 rows x 2 columns]

### Step 9. Find all the volume traded in the year of 2015